body {
    background: #212121;
    color: #fff;
}

.appbar{
    background: #212121;
}

#raised {
    background: #282828;
}

.title {
    color: #fff;
}

.sub-title {
    color: rgba(225, 225, 225, 0.8);
}
.wrapper {
    border-color: rgba(225, 225, 225, 0.2);
}

.card {
    border-color: rgba(225, 225, 225, 0.2);
}

.thumbnail, #hero {
    border-color: rgba(225,225,225,0.2)
}

.info, footer, a {
    color: rgba(225, 225, 225, 0.5);
}

svg {
    fill: #fff;
}

.fab {
    background: #303030;
}

.author button {
    border-color: #e1e1e126;
    background: #212121;
}

.paragraph {
    color:rgba(255, 255, 255, 0.8);
}

.author {
    border-color: #e1e1e11f;
}


.author button:hover {
    background-color: white;
    border-color: white;
}
.scroll-btn{
    background: #212121;
    background: -webkit-linear-gradient(left, #21212100, #212121 40%);
    background: -o-linear-gradient(left, #21212100, #212121 40%);
    background: linear-gradient(to right, #21212100, #212121 40%);

}

#scrollL{
    background: -webkit-linear-gradient(right, #21212100, #212121 40%);
    background: -o-linear-gradient(right, #21212100, #212121 40%);
    background: linear-gradient(to left, #21212100, #212121 40%);
}

.fade {
    background: -webkit-linear-gradient(#21212100, #212121 140%);
    background: -o-linear-gradient(#21212100, #212121 140%);
    background: linear-gradient(#21212100, #212121 140%);
}

.contacts_btns svg{
    fill: rgba(225, 225, 225, 0.5);
}
