---
layout: home
title: Home
---

<ul class="myposts">
    {% for post in paginator.posts %}
    <a href="{{ site.url }}{{ post.url }}">
        <li class="card">
        <div class="sub-title">
        <p>{{ post.title}}</p>
        </div>
        <div class="thumbnail">
        <img src="{{ post.hero }}">
        </div>
        <div class="info">
        <span id="postDate">{{ post.date | date: "%b %-d, %Y"}}&nbsp; • </span>
        <span id="postCount">{{ post.content | number_of_words | divided_by: 265 | add: }} mins read</span>
        <!-- <a href="{{ site.url }}/tags.html/#{{ post.tags[0] }}" class="tag">{{ post.tags[0] }}</a> -->
    </div>
    </li>
    </a>
    {% endfor %}
    {% include nav.html %}
</ul>