<div class="card author">
    <img class="thumbnail" src="https://lh3.googleusercontent.com/-eSEBw9deZ4Y/AAAAAAAAAAI/AAAAAAAAAAA/AAN31DWqRayXI-ik616dYavJ2oU8tDXetA/s192-c-mo/photo.jpg">
    <div class="sub-title">
        <span>John Doe</span><br>
        <span class="info">Author</span>
    </div>
    <span class="sub-title" id="about">The spectacle before us was indeed sublime.</span>
    <a href="#">
        <button>
            <span>Learn More</span>
        </button>
    </a>
</div>