<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<!-- Plain Description -->
	<title>{{ page.title }} | {{ site.title }}</title>
	<link rel="icon" type="image/png" href="/favicon.png">
	<!-- CSS & fonts -->
	<link rel="stylesheet" href="{{ site.url }}/css/app.min.css">
	<link rel="stylesheet" href="{{ site.url }}/css/{{ page.layout }}.min.css">
	<link rel="stylesheet" href="{{ site.url }}/css/theme.min.css" id="theme" disabled>
	<link rel="stylesheet" href="{{ site.url }}/css/visit.min.css" id="visit" disabled>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

	<meta name="theme-color" content="#808080">
	<meta name="application-name" content="Blog">
	<meta name="description" content="Blog">
	<meta name="keywords" content="blog">
	<meta name="author" content="Rohit Parida">
	<link rel="manifest" href="{{ site.url }}/manifest.json">

</head>